language: php
php:
  - '5.6'
  - '7.0'
  - '7.1'
  - '7.2'
  - '7.3'
  - '7.4'

cache:
  directories:
   - $HOME/.composer/cache

before_install:
 - rm composer.lock
 - composer self-update
 - composer install --prefer-source --no-interaction
 - composer require satooshi/php-coveralls '~1.0|dev-master'

script:
 - mkdir -p build/logs
 - php vendor/bin/phpunit --configuration tests/phpunit_coverage.xml ./tests --coverage-clover build/logs/clover.xml

after_script:
 - php vendor/bin/coveralls -v
